RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alexanderedavis.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://alexanderedavis.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anythingbutie.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anythingbutie.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anythingbutie.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://anythingbutie.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bcuhacks.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bcuhacks.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pastprojects.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pastprojects.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://portal.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiki.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wiki.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alexanderedavis.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.alexanderedavis.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anythingbutie.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anythingbutie.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anythingbutie.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.anythingbutie.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bcuhacks.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bcuhacks.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pastprojects.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pastprojects.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.portal.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiki.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wiki.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alexanderedavis.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://alexanderedavis.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anythingbutie.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anythingbutie.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anythingbutie.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://anythingbutie.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bcuhacks.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://bcuhacks.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pastprojects.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://pastprojects.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://portal.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiki.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wiki.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alexanderedavis.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.alexanderedavis.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anythingbutie.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anythingbutie.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anythingbutie.uk/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.anythingbutie.uk$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bcuhacks.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.bcuhacks.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pastprojects.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.pastprojects.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.portal.alexanderdavis.tech$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiki.alexanderdavis.tech/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wiki.alexanderdavis.tech$      [NC]
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
